.header{
    width: 1300px;
    height: 100px;
    background-color: green;
  }
.main1{
  display: flex;
}
.aside,.aside1{
 width: 200px;
}
.aside,.section{
  height: 220px;
}
.section,.section1{
  width: 1090px;
}
.aside{
  background-color: yellow;
  margin: 15px;
}
.section{
  background-color:orangered;
  margin: 15px;
}
.main2{
  display: flex;
}
.aside1,.section1{
  height: 200px;
}
.aside1{
  background-color: yellow;
  margin: 15px;
}
.section1{
  background-color:aqua;
  margin: 15px;
}